@import '../../../../../styles.scss';

.TextContainerContent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.textAnimationContainer {
  overflow:hidden;
}

.textContainerText {
  font-size: 5vh;
  color: $textColorLight;
  font-weight: 600;
  margin-bottom: 0;
  opacity: 1;
}

.lineAnimationContainer{
  height: 3vh;
}

.textContainerLineContainerWhite{
  position: fixed;
  bottom: 0;
}

.textContainerLineWhite {
  stroke:rgba(231,231,231,1);
  stroke-width:3;
}

.textContainerLineContainerGray{
  position: fixed;
  bottom: 0;
}

.textContainerLineGrey {
  stroke:rgba(231,231,231,0.5);
  stroke-width:3;
}

.textContainerLineContainerWhiteBack{
  position: fixed;
  bottom: 0;
}

.textContainerLineWhiteBack {
  stroke:rgba(231,231,231,1);
  stroke-width:3;
}


