<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <div (mousedown)="carouselMouseDown($event)" (mouseup)="carouselMouseUp()" class="containerContainer">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="ImageFrame" [ngClass]="{'oldImage': oldActive}">
        <img [src]="image" alt="Random first slide" class="myImg" [ngClass]="{'oldImageFrame': oldActive}">
      </div>
    </ng-template>
  </div>

</ngb-carousel>
