.myImg {
  height: 50px;
  width: 50px;
}

.ImageFrame{

}


.myImg:hover {
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  border-radius: 5% / 50%;
}

.ImageFrame :hover{
  margin: 20px 10px;
  border-radius: 50% / 10%;
}

.CarouselContainer {
  height: 75%;
  width: 75%;
}
