.containerContainer{
  width: 100vw;
  height: 100vh;
}

.myImg {
  width: 50vw;
}

.ImageFrame{
  align-items: center;
}

.imagesWrapper{

}


.oldImage {
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  border-radius: 5% / 50%;
}

.oldImageFrame{
  margin: 20px 10px;
  border-radius: 50% / 10%;
}
