/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

$primaryColor : #FFFFFF;
$textColorLight : #E7E7E7E7;
$backgroundColor : #141414;
$black: #000000;
$font-stack :    Helvetica, sans-serif;

html {
  font-family: "Impact, Charcoal, sans-serif";
  background-color: $backgroundColor;
}
