/* You can add global styles to this file, and also import other style files */
$primaryColor : #FFFFFF;
$backgroundColor : #000000;
$font-stack :    Helvetica, sans-serif;

html {
  font-family: "Courier New";
}
